{% extends 'application/base_profile.html' %}
{% block title %}{{ assignment }}{% endblock %}
<style>
  .textbox{
    height:100px;
    width:100px;
    border:2px solid black;
}
</style>
{% block body %}
<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-2">
        <div class="text-center h3 text-warning bg-success p-2">{{ assignment.name }}</div>
        <div class="col-md-12">
          <div class="col-md-8">
            <div class="col-md-12">
              <div class="form-group">
                <label for="comment"><strong> Questions </strong>:</label>
                <textarea class="form-control" rows="5"readonly>{{ assignment.questions }}</textarea>
              </div>
            </div>
            <div class="col-md-12">
              <strong> Deadline</strong>: <span class="text-danger">{{ assignment.deadline }}</span> 
            </div>
            <div class="col-md-12">
              <strong> Attachment </strong>: <a href="{{ MEDIA_URL }}/{{assignment.qsfile}}" target="_blank">{{assignment.qsfile}}</a>
          </div>
          </div>
        </div>
        <hr class=" mt-5">
        <div class="col-md-12">
            <a class="btn btn-primary btn-block" href="{% url 'application:submit' assignment_id=assignment.id %}"> Submit Answer</a>
        </div>
        <hr>
      </div>
    </div>
  </div>
{% endblock %}
